html, body{
    margin: 0;
    padding: 0;
}

p{
    text-align: justify;
}
#box{
    width: 1000px;
    height: auto;
    margin: auto;
}
#header{
    background-color:  #6d8ba6;
    padding: 20px;
}
#menu{
    background-color: #a0a2a3;
    padding: auto;
}
#menu a{
    text-decoration: none;
    color: #141414;
}
#menu a:hover{
    color: rgb(246, 226, 233);
}
.teksmenu{
    text-decoration: none;
}
#content{
    padding: 20px;
}
#footer{
    background-color: #94afc4;
    padding: 20px;
}
